<!DOCTYPE html>
<html data-ng-app="myapp">
<head>
    <title>rest</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <!--meta:vp-->
    <link rel="stylesheet" href="./app/public/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body data-ng-controller="MainCtrl">
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="btn btn-xs btn-primary">增加用户</a>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li data-ng-repeat="u in users" class="list-group-item track by $index">
                    <span data-ng-bind="u.username"></span>
                    <span data-ng-bind="u.useremail"></span>
                    <span data-ng-bind="u.userpwd"></span>
                </li>
            </ul>
        </div>
        <div class="panel-footer text-center">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form class="form-horizontal" action="" role="form">
                        <div class="form-group">
                            <label for="username" class="control-label">用户名</label>
                            <input type="text" class="form-control" name="username" data-ng-model="user.username"
                                   id="username"/>
                        </div>
                        <div class="form-group">
                            <label for="userpwd" class="control-label">密码</label>
                            <input type="text" class="form-control" name="userpwd" data-ng-model="user.userpwd"
                                   id="userpwd"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="button" data-ng-click="addUser()" value="提交"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="./app/public/lib/jquery/dist/jquery.min.js"></script>
<script src="./app/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./app/public/lib/angular/angular.min.js"></script>
<script src="./app/js/app.js"></script>
</html>